.events-editor {
  display: grid;
  grid-template: 60% auto / 100%;
}

.event-list-wrapper {
  display: grid;
  grid-template: 100% / 192px auto;
  border-top: 1px solid var(--color-border);
}

.event-properties {
  padding: 8px;
  border-left: 1px solid var(--color-border);
}
