.notes-viewer {
  position: relative;
  background-color: black;
}

.notes-wrapper {
  height: 100%;
  overflow: auto;
}

.notes {
  display: block;
}

.scale-slider {
  position: absolute;
  top: 6px;
  left: 6px;
}
