* {
  line-height: 1.5;
  user-select: none;
  outline-color: var(--focus-color);
  --background-color: #222;
  --focus-color: #333;
  --border-color: #444;
  --foreground-color: #fff;
}

:root {
  height: 100%;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
}

label {
  display: block;
  padding: 2px;
}

input:not([type]), input[type="text"], input[type="number"], select:not([multiple]) {
  display: inline-block;
  color: var(--foreground-color);
  background-color: var(--background-color);
  min-width: 60px;
  height: 14px;
  border: 2px inset var(--border-color);
  border-radius: 4px;
}

select:not([multiple]) {
  height: 20px;
}

#root {
  width: 100%;
  height: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.list-element-container {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.list-element-container.selected {
  background-color: var(--focus-color);
}

.list-element {
  cursor: pointer;
  width: 100%;
  padding: 6px;
}

.list-buttons {
  float: right;
  padding: 6px;
}

.list-element-container>.list-buttons {
  width: 16px;
  border-left: 1px solid var(--border-color);
}

.edit-button {
  font-size: 10px;
  line-height: 0;
  width: 16px;
  height: 16px;
  padding: 0;
}

.split-pane {
  display: grid;
  width: 100%;
  height: 100%;
}

.split-pane.horizontal {
  grid-template-rows: 100%;
}

.split-pane.vertical {
  grid-template-columns: 100%;
}

.split-pane.horizontal>:first-child {
  border-right: 1px solid var(--border-color);
}

.split-pane.vertical>:first-child {
  border-bottom: 1px solid var(--border-color);
}

.app {
  grid-template-columns: 200px minmax(0, auto);
}

.side {
  grid-template-rows: min-content minmax(0, auto);
}

.metadata {
  padding: 6px;
}

.track-list {
  height: 100%;
}

.track-properties input {
  width: 80px;
}

.events-editor {
  grid-template-rows: 60% minmax(0, auto);
}

.event-list-container {
  grid-template-columns: 180px minmax(0, auto);
}

.event-properties {
  height: calc(100% - 20px);
  padding: 8px;
  overflow-y: scroll;
}

.notes-editor {
  position: relative;
  height: 100%;
  background-color: black;
}

.notes-edit-region-container {
  height: 100%;
  overflow: scroll;
}

.notes-edit-region {
  position: relative;
}

.notes-edit-buttons {
  position: absolute;
  top: 6px;
  left: 6px;
}

.note {
  position: absolute;
  cursor: pointer;
}

.note.channel-0 {
  background-color: #00a;
}

.note.channel-0.selected {
  background-color: #55f;
}

.note.channel-1 {
  background-color: #0a0;
}

.note.channel-1.selected {
  background-color: #5f5;
}

.note.channel-2 {
  background-color: #0aa;
}

.note.channel-2.selected {
  background-color: #5ff;
}

.note.channel-3 {
  background-color: #a00;
}

.note.channel-3.selected {
  background-color: #f55;
}

.note.channel-4 {
  background-color: #a0a;
}

.note.channel-4.selected {
  background-color: #f5f;
}

.note.channel-5 {
  background-color: #aa0;
}

.note.channel-5.selected {
  background-color: #ff5;
}

.note.channel-6 {
  background-color: #00a;
}

.note.channel-6.selected {
  background-color: #55f;
}

.note.channel-7 {
  background-color: #0a0;
}

.note.channel-7.selected {
  background-color: #5f5;
}

.note.channel-8 {
  background-color: #0aa;
}

.note.channel-8.selected {
  background-color: #5ff;
}

.note.channel-9 {
  background-color: #a00;
}

.note.channel-9.selected {
  background-color: #f55;
}

.note.channel-10 {
  background-color: #a0a;
}

.note.channel-10.selected {
  background-color: #f5f;
}

.note.channel-11 {
  background-color: #aa0;
}

.note.channel-11.selected {
  background-color: #ff5;
}

.note.channel-12 {
  background-color: #00a;
}

.note.channel-12.selected {
  background-color: #55f;
}

.note.channel-13 {
  background-color: #0a0;
}

.note.channel-13.selected {
  background-color: #5f5;
}

.note.channel-14 {
  background-color: #0aa;
}

.note.channel-14.selected {
  background-color: #5ff;
}

.note.channel-15 {
  background-color: #a00;
}

.note.channel-15.selected {
  background-color: #f55;
}

.event-list {
  height: 100%;
}
