* {
  --color-fg: #fbfbfe;
  --color-bg: #1c1b22;
  --color-border: #444;
  color-scheme: dark;
  user-select: none;
  line-height: 1.5;
  overflow: hidden;
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
  font-family: system-ui;
  font-size: 12px;
  margin: 0;
}

#root {
  height: 100vh;
}
