* {
  line-height: 1.5;
  user-select: none;
  outline-color: var(--focus-color);
  --background-color: #222;
  --focus-color: #333;
  --border-color: #444;
  --foreground-color: #fff;
}

:root {
  height: 100%;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: system-ui;
  font-size: 12px;
  height: 100%;
  margin: 0px;
}

#root {
  width: 100%;
  height: 100%;
}
