.app {
  display: grid;
  grid-template: 100% / 208px auto;
  height: 100%;
}

.side {
  display: grid;
  grid-template: min-content auto / 100%;
  border-right: 1px solid var(--color-border);
}

.metadata-wrapper {
  border-bottom: 1px solid var(--color-border);
}
