* {
  line-height: 1.5;
  user-select: none;
  outline-color: var(--focus-color);
  --background-color: #222;
  --focus-color: #333;
  --border-color: #444;
  --foreground-color: #fff;
}

:root {
  height: 100%;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: system-ui;
  font-size: 12px;
  height: 100%;
  margin: 0px;
}

label {
  display: block;
  padding: 2px;
}

input:not([type]), input[type="text"], input[type="number"], select:not([multiple]) {
  display: inline-block;
  color: var(--foreground-color);
  background-color: var(--background-color);
  min-width: 60px;
  height: 14px;
  box-sizing: content-box;
  border: 2px inset var(--border-color);
  border-radius: 4px;
}

select:not([multiple]) {
  height: 20px;
}

#root {
  width: 100%;
  height: 100%;
}

.list-element-container {
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
}

.list-element-container.selected {
  background-color: var(--focus-color);
}

.list-element {
  cursor: pointer;
  width: 100%;
  padding: 6px;
}

.list-buttons {
  float: right;
  padding: 6px;
}

.list-element-container>.list-buttons {
  width: 16px;
  border-left: 1px solid var(--border-color);
}

.edit-button {
  font-size: 10px;
  line-height: 0;
  width: 16px;
  height: 16px;
  padding: 0;
}

.split-view {
  display: grid;
  width: 100%;
  height: 100%;
}

.split-view.horizontal {
  grid-template-rows: 100%;
}

.split-view.vertical {
  grid-template-columns: 100%;
}

.split-view.horizontal>:first-child {
  border-right: 1px solid var(--border-color);
}

.split-view.vertical>:first-child {
  border-bottom: 1px solid var(--border-color);
}

.app {
  grid-template-columns: 200px minmax(0, auto);
}

.side {
  grid-template-rows: min-content minmax(0, auto);
}

.properties {
  padding: 6px;
}

.confirm-button {
  font-size: 12px;
  position: fixed;
  bottom: 6px;
  right: 6px;
}

.track-name {
  display: list-item;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.events-editor {
  grid-template-rows: 60% minmax(0, auto);
}

.event-list-container {
  grid-template-columns: 180px minmax(0, auto);
}

.event-name {
  display: list-item;
}

.event-properties {
  height: calc(100% - 20px);
  padding: 8px;
  overflow-y: scroll;
}

.notes-viewer {
  height: 100%;
  background-color: black;
  overflow: scroll;
}

.scale {
  position: absolute;
  top: 6px;
  left: 6px;
}

.note {
  position: absolute;
}

.note.channel-0 {
  background-color: #00f;
}

.note.channel-1 {
  background-color: #0f0;
}

.note.channel-2 {
  background-color: #0ff;
}

.note.channel-3 {
  background-color: #f00;
}

.note.channel-4 {
  background-color: #f0f;
}

.note.channel-5 {
  background-color: #ff0;
}

.note.channel-6 {
  background-color: #00f;
}

.note.channel-7 {
  background-color: #0f0;
}

.note.channel-8 {
  background-color: #0ff;
}

.note.channel-9 {
  background-color: #f00;
}

.note.channel-10 {
  background-color: #f0f;
}

.note.channel-11 {
  background-color: #ff0;
}

.note.channel-12 {
  background-color: #00f;
}

.note.channel-13 {
  background-color: #0f0;
}

.note.channel-14 {
  background-color: #0ff;
}

.note.channel-15 {
  background-color: #f00;
}
