.input {
  display: inline-block;
  color: var(--color-fg);
  background-color: var(--color-bg);
  min-width: 60px;
  height: 14px;
  border: 2px inset var(--color-border);
  border-radius: 4px;
}

.select {
  composes: input;
  height: 20px;
}
